<div class="area-login-background d-none d-md-block"></div>

<div class="area-form">
  <form>
    <h1 class="titulo">GERENCIA APP</h1>
    <h2 class="subtitulo">Mais eficiência no controle das suas atividades!</h2>

    <input [(ngModel)]="userName"  [ngModelOptions]="{standalone:true}"  class="input-form" type="text" placeholder="Informe o seu nome">

    <app-button textoBotao="Acessar" size="100" (click) ="login()"></app-button>

  </form>

  <p class="footer">  Desenvolvido por Rafael SaCa © | 2024 </p>
</div>
