@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'ngx-toastr/toastr';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
  --primary-color: #000000;
  --error-color: #ac2828;
  --gray-color: #747474;
  --accent-color: #FFBD59;

}

.cor-primary{color: var(--primary-color);}
.cor-error{color: var(--error-color);}
.cor-gray{color: var(--gray-color);}

.hover:hover{cursor: pointer;}

.mat-mdc-progress-spinner circle{
  stroke: var(--accent-color) !important;
}
