.sidemenu{
  width: 300px;
  height: 100vh;
  min-height: 100vh;
  display: block;
  float: left;
  background-color: var(--primary-color);
  padding: 10px 0px;
  box-shadow: 10px 0px 16px 10px #0a0a0a30;
  margin-right: 30px;

  ul{padding: 0;  }

  .logo{
    margin-left: 4px;
  }

  li{
    font-size: 18px;
    font-weight: 400;
    font-family: Montserrat;
    color: #fafafa;
    padding:  14px 24px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: 0.3s linear all;

    mat-icon{
      margin-right:  14px;
      font-size:24px ;
    }
    &:hover{
      background: #e6e6e6;
      cursor: pointer;
      color: var(--primary-color);
    }
  }
}

.logout{
  position: absolute;
  bottom: 40px;;
  width: 300px;

}
