<nav class="sidemenu">
    <ul>
      <li><img src="../../../assets/logo.png" width="250px"></li>
      <li routerLink="/home"><mat-icon class="mat-18">home</mat-icon>Home</li>
      <li><mat-icon class="mat-18">edit_calendar</mat-icon>Agendamento</li>
      <li routerLink="/usuarios"><mat-icon class="mat-18">person_add</mat-icon>Cadastro Usuário</li>
      <li><mat-icon class="mat-18">summarize</mat-icon>Relatórios</li>

      <li routerLink="/login" class="logout"><mat-icon class="mat-18">logout</mat-icon>Sair</li>
    </ul>
</nav>
